@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}


.huis {
    padding-left: 70px;
    padding-top: 0px;
}

.huis-image {
    max-width: 110%;

}

.huis-text {
    padding-right: 20%;
    padding-left: 25%;
    font-family: 'Aboreto', cursive;

}

.blue {
    color: rgb(1, 130, 182);
}

.huis-text .h1 {
    padding-left: 30px;

}

.logo {
    position: fixed;
    max-width: 120px;
    padding-top: 0.5%;
}


h1 {
    font-size: 25px;
    text-decoration: double;
}

p {
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 10px;
    position: fixed;
    margin-top: 150px
}

li a {
    display: block;
    color: #000;
    padding: 8px 30px;
    text-decoration: none;
}

li a:hover {
    color: rgb(156, 16, 16);
}

a {
    display: block;
    width: 100px;
}



.info {
    padding-top: 2%;
    float: right;
    width: 800px;
    display: block;
}

.info-image {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 450px;
    float: right;
    max-width: 450px;
}



.vrijwilligers-image {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 450px;
    float: right;
    max-width: 450px;

}

.adres {
    margin: 0px;
    padding: 30px;
    width: 10px;
    padding-top: 31%;
    display: block;
    position: fixed;
}